<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}
<!--
  Global Navigation
-->
{% block content %}
<div class="slds-context-bar">
  <div class="slds-context-bar__primary">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
      <div class="slds-context-bar__icon-action">
        <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
          <span class="slds-icon-waffle">
            <span class="slds-r1"></span>
            <span class="slds-r2"></span>
            <span class="slds-r3"></span>
            <span class="slds-r4"></span>
            <span class="slds-r5"></span>
            <span class="slds-r6"></span>
            <span class="slds-r7"></span>
            <span class="slds-r8"></span>
            <span class="slds-r9"></span>
          </span>
          <span class="slds-assistive-text">Open App Launcher</span>
        </button>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span class="slds-truncate" title="App Name">App Name</span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate" title="Clients">Clients</span>
        </a>
      </li>
      <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
          <span class="slds-truncate" title="Menu Item">Menu Item</span>
        </a>
        <div class="slds-context-bar__icon-action slds-p-left_none">
          <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true" title="Open menu item submenu">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
            </svg>
            <span class="slds-assistive-text">Open menu item submenu</span>
          </button>
        </div>
        <div class="slds-dropdown slds-dropdown_right">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                <span class="slds-truncate" title="[object Object],Main action">
                  <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add" />
                  </svg>Main action</span>
              </a>
            </li>
            <li class="slds-dropdown__header slds-has-divider_top-space" role="separator">
              <span class="slds-text-title_caps">Menu header</span>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
          <span class="slds-truncate" title="Menu Item">Menu Item</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
          <span class="slds-truncate" title="Menu Item">Menu Item</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
          <span class="slds-truncate" title="Menu Item">Menu Item</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}

<!--
  Data table - recent quotes list 
-->
{% block content %}
<table class="slds-table slds-table_bordered slds-table_cell-buffer">
  <thead>
    <tr class="slds-text-title_caps">
      <th scope="col">
        <div class="slds-truncate" title="Client Name">Client Name</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Policy Number">Policy Number</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Quote Date">Quote Date</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Status">Status</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Confidence">Confidence</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Premium">Premium</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Contact">Contact</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="Cloudhub"><a href="javascript:void(0);">Cloudhub</a></div>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Cloudhub">Cloudhub</div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Prospecting">
        <div class="slds-truncate" title="Prospecting">Prospecting</div>
      </td>
      <td data-label="Confidence">
        <div class="slds-truncate" title="20%">20%</div>
      </td>
      <td data-label="Amount">
        <div class="slds-truncate" title="$25k">$25k</div>
      </td>
      <td data-label="Contact">
        <div class="slds-truncate" title="jrogers@cloudhub.com"><a href="javascript:void(0);">jrogers@cloudhub.com</a></div>
      </td>
    </tr>
    <tr>
      <th scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="Cloudhub + Anypoint Connectors"><a href="javascript:void(0);">Cloudhub + Anypoint Connectors</a></div>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Cloudhub">Cloudhub</div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Prospecting">
        <div class="slds-truncate" title="Prospecting">Prospecting</div>
      </td>
      <td data-label="Confidence">
        <div class="slds-truncate" title="20%">20%</div>
      </td>
      <td data-label="Amount">
        <div class="slds-truncate" title="$25k">$25k</div>
      </td>
      <td data-label="Contact">
        <div class="slds-truncate" title="jrogers@cloudhub.com"><a href="javascript:void(0);">jrogers@cloudhub.com</a></div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
