<!DOCTYPE html>
  <html>
    body {padding: 20px}
  </html>
<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Template with custom hub navigation
-->
{% extends "_hubtemplate.html" %}
<!--
  New quote buttons
-->
{% block content %}
<div class="slds-grid">
  <div class="slds-col">
    <button class="slds-button_brand">New Quote: Home</button>
  </div>
  <div class="slds-col">
    <button class="slds-button_brand">New Quote: PWC Scheme</button>
  </div>
</div>
<!--
  Data table
-->
<table class="slds-table slds-table_bordered slds-table_cell-buffer">
  <thead>
    <tr class="slds-text-title_caps">
      <th scope="col">
        <div class="slds-truncate" title="Client Name">Client Name</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Policy Number">Policy Number</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Quote Date">Quote Date</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Status">Status</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Premium">Premium</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="Gustav Klassen"><a href="javascript:void(0);">Gustav Klassen</a></div>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="EW10033Q"><a href="javascript:void(0);">EW10033Q</a></div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Prospecting">
        <div class="slds-truncate" title="Declined">Declined</div>
      </td>
      <td data-label="Amount">
        <div class="slds-truncate" title="£870">£870</div>
      </td>
    </tr>
    <tr>
      <th scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="Juliette Dorien"><a href="javascript:void(0);">Juliette Dorien</a></div>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="EW10034Q"><a href="javascript:void(0);">EW10033Q</a></div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Prospecting">
        <div class="slds-truncate" title="Quote Offered">Quote Offered</div>
      <td data-label="Amount">
        <div class="slds-truncate" title="£900">£900</div>
      </td>
    </tr>
  </tbody>
</table>
<!--
  feed
-->
<div class="slds-feed">
  <ul class="slds-feed__list">
    <li class="slds-feed__item">
      <article class="slds-post">
        <header class="slds-post__header slds-media">
          <div class="slds-media__figure">
            <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_large">
              <img alt="Jason Rodgers" src="/assets/images/avatar1.jpg" title="Jason Rodgers avatar" />
            </a>
          </div>
          <div class="slds-media__body">
            <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
              <p><a href="javascript:void(0);" title="Jason Rodgers">Jason Rogers</a></p>
              <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-x-small"
                aria-haspopup="true" title="More Options">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                </svg>
                <span class="slds-assistive-text">More Options</span>
              </button>
            </div>
            <p class="slds-text-body_small"><a href="javascript:void(0);" title="Click for single-item view of this post" class="slds-text-link_reset">2 days Ago</a></p>
          </div>
        </header>
        <div class="slds-post__content slds-text-longform">
          <p><a href="javascript:void(0);" title="#EW10034Q">#EW10034Q</a> Quote offered. <a href="javascript:void(0);" title="Jenna Davis">@Jenna Davis</a>, as per my email please look after this client while I am away. Call me if you have any questions! </p>
        </div>
        <footer class="slds-post__footer">
          <ul class="slds-post__footer-actions-list slds-list_horizontal">
            <li class="slds-col slds-item slds-m-right_medium">
              <button title="Like this item" class="slds-button_reset slds-post__footer-action" aria-pressed="false">
                <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-align-middle" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like" />
                </svg>Like</button>
            </li>
            <li class="slds-col slds-item slds-m-right_medium">
              <button title="Comment on this item" class="slds-button_reset slds-post__footer-action">
                <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-align-middle" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#share_post" />
                </svg> Comment</button>
            </li>
            <li class="slds-col slds-item slds-m-right_medium">
              <button title="Share this item" class="slds-button_reset slds-post__footer-action">
                <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-align-middle" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#share" />
                </svg> Share</button>
            </li>
          </ul>
          <ul class="slds-post__footer-meta-list slds-list_horizontal slds-has-dividers_right slds-text-title">
            <li class="slds-item">0 shares</li>
            <li class="slds-item">6 views</li>
          </ul>
        </footer>
      </article>
      <div class="slds-feed__item-comments">
        <div class="slds-p-horizontal_medium slds-p-vertical_x-small slds-grid">
          <button class="slds-button_reset slds-text-link">Comments</button>
          <span class="slds-text-body_small slds-col_bump-left">1 of 1</span>
        </div>
        <ul>
          <li>
            <article class="slds-comment slds-media slds-hint-parent">
              <div class="slds-media__figure">
                <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_medium">
                  <img alt="Jenna Davis" src="/assets/images/avatar2.jpg" title="Jenna Davis avatar" />
                </a>
              </div>
              <div class="slds-media__body">
                <header class="slds-media slds-media_center">
                  <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                    <p class="slds-truncate" title="Jenna Davis"><a href="javascript:void(0);">Jenna Davis</a></p>
                    <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-x-small" aria-haspopup="true" title="More Options">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                      </svg>
                      <span class="slds-assistive-text">More Options</span>
                    </button>
                  </div>
                </header>
                <div class="slds-comment__content slds-text-longform">Yes, I'll take care of this. It looks like everything I'll need is on the client page thanks! </div>
                <footer>
                  <ul class="slds-list_horizontal slds-has-dividers_right slds-text-body_small">
                    <li class="slds-item">
                      <button class="slds-button_reset slds-text-color_weak" title="Like this item" aria-pressed="false">Like</button>
                    </li>
                    <li class="slds-item">2 days Ago</li>
                  </ul>
                </footer>
              </div>
            </article>
          </li>
          <ul class="slds-post__footer-meta-list slds-list_horizontal slds-has-dividers_right slds-text-title">
            <li class="slds-item">0 shares</li>
            <li class="slds-item">4 views</li>
          </ul>
        </footer>
      </article>
    </li>
  </ul>
</div>
{% endblock %}